img {
    float: left;
    padding-right: 10pt;
}
h2 {
    margin-bottom: 5px;
    font-size: 30pt;
    margin-top: 20px;
    color: dodgerblue;
}
p {
    margin-top: 5px;
    margin-right: 175px;
    line-height: 1.2em;
    font-size: 13.8pt;
    color: darkblue;
}
main {
    padding-left: 160pt;
}