table {
    margin: auto;
    text-align: center;
    padding-top: 15px;
}
h2 {
    text-align: center;
    color: dodgerblue;
}
footer {
    background-color: white;
    padding: 10px
}
